/*

*/

body {
  border-style: border-box;
  background: #002626;
  --bg-dark: #0e4749;
  --fg-light: #efe7da;
  --border-dark: black;
  --fg-form: #95c623;
}

.hint {
  color: var(--fg-form);
}

.cheat-sheet {
  display: none;

  padding: 10px;
  margin: 0 auto;
  opacity: 0;
  z-index: 10;
}

#miniMorse {
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center;
  background: #eaeaeb;
  box-shadow: 10px 5px 5px black;
  transition: 0.4s ease-in-out;
}

#morseCode-thumbnail {
  background: white;
  box-shadow: 5px 2px 2px var(--fg-form);
}

#morseCode-thumbnail:hover {
  box-shadow: 2px 1px 1px var(--fg-form);
  transition: 0.2s ease-in-out;
}

.cheat-sheet-on {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  margin: 0 auto;
  opacity: 1;
  text-align: center;
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  grid-gap: 10px;
  align-items: start;
  background: var(--bg-dark);
  color: var(--fg-light);
  margin: 0 auto;
  height: 100vh;
  z-index: 1;
}

h1,
h2 {
  font-size: 3rem;
  color: white;
  font-family: "Muli", sans-serif;
}

textarea,
p {
  font-size: 1rem;
  font-family: "Muli", sans-serif;
}

#morse,
#plainText,
#transfer {
  min-height: 340px;
  font-size: 2rem;
  text-align: center;
}

textarea {
  background: var(--bg-dark);
  color: var(--fg-form);
  font-size: 2rem;
  resize: none;
  cursor: text;
  padding: 5px;
  border: 1px dashed;
}

#transfer {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-content: center;
  justify-content: space-around;
}

#arrowLeft {
  box-shadow: 10px 5px 5px black;
  border-radius: 50%;
  background: var(--fg-form);
  padding: 10px;
}

#arrowLeft:hover {
  transition: 0.3s ease-in;
  box-shadow: 5px 3px 3px black;
}

#arrowRight {
  transform: scaleX(-1);
  box-shadow: -10px 3px 3px black;
  background: var(--fg-form);
  padding: 10px;
  border-radius: 50%;
}

#arrowRight:hover {
  transition: 0.3s ease-in;
  box-shadow: -5px 3px 3px black;
}

#arrowLeft:active,
#arrowRight:active {
  background: var(--bg-dark);
  opacity: 1;
  transition: 0.01s ease-in;
}
